{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/reachout.css' %}">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Complete Corportate Website</title>

      <!-- stylesheet -->
      <link rel="stylesheet" href="style.css">

      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- icons -->
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
      <script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>

<body>

<div class="footer">

                  <div class="container">

                        <div class="info">

                              <div class="row">
                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
                                          <p>Phone No.</p>
                                          <h4>+447549188316</h4>

                                          <br><br>
                                    </div>

                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s" id="media">
                                          <p>Social Media</p>
                                          <ul>
                                                <li><ion-icon name="logo-facebook"></ion-icon></li>

                                                <li><ion-icon name="logo-instagram"></ion-icon></li>

                                                <li><ion-icon name="logo-twitter"></ion-icon></li>

                                                <li><ion-icon name="logo-youtube"></ion-icon></li>
                                          </ul>
                                           <h4>@username</h4>

                                          <br><br>
                                    </div>

                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" id="mail">
                                          <p>Say Hello</p>
                                          <h4>eimnnet@gmail.com</h4>

                                          <br><br>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>